@import "../../global.scss";

.about {
  background-color: #294a3e;
  hr {
    height: 5px;
    background: white;
    margin-top: 8%;
    @include mobile {
      margin-top: 14%;
    }
  }
  .imgcontainer {
    margin-top: -6%;
    @include mobile {
      margin-top: -8%;
    }
    img {
      position: relative;
      border-radius: 50%;
      margin-left: 45%;
    }
  }
  #quote {
    font-size: 3.25rem;
    line-height: calc(62 / 52);
    margin: 0.5em 0 0.25em;
    font-family: "EB Garamond", serif;
    font-weight: 400;
    text-align: center;
    color: white;
    @include mobile {
      font-size: 2.25rem;
      margin: 0.5em 0 0.65em;
      font-weight: 300;
    }
  }
  p {
    font-size: 1rem;
    line-height: calc(26 / 16);
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    font-family: "EB Garamond", serif;
    color: white;
    margin: 7%;
    @include mobile {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 6%;
      text-align: left;
    }
  }
}
