.footer {
  background-color: #294a3e;
  color: white;
  p {
    margin-left: 30%;
  }
  h1 {
    margin-left: 42%;
    margin-top: 3%;
  }
  .container {
    margin-top: 5%;
    margin-left: 40%;
  }
}
